aiomysql==0.2.0
mysql-replication==1.0.9
SQLAlchemy==2.0.36
python-dotenv==1.0.1
PyMySQL==1.1.1
aiohttp==3.11.2
easyocr==1.7.2
keyboard==0.13.5
numpy<2.0.0
opencv-python==4.8.0.76
Pillow==11.1.0
PyAutoGUI==0.9.54
PyQt5==5.15.11
pywin32==306
pywinauto==0.6.8
requests==2.32.3
asyncio
aiosignal
opencv-python-headless==4.10.0.84
cryptography>=42.0.0
